<template>
  <div id="app">
    <v-app-bar color="accent">
      <v-toolbar-title>ControlWhats</v-toolbar-title>
    </v-app-bar>
    <v-main>
      <router-view />
    </v-main>
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
